@charset 'UTF-8';
:root {
  --greyishMagenta: #baaabb;
  --darkBlue: #0d1117;
}

/********************************************************************************
/* Dark Mode                                                                     
/*********************************************************************************/

.dark {
  color: var(--greyishMagenta);
  background-color: var(--darkBlue);
}

.dark strong, .dark b, .dark a, .dark input, .dark .dygraph-axis-label, .dark #copyright ul, .dark th, .dark tr, .dark td, .dark .label, .dark h1, .dark form label, .dark ::placeholder, .dark textarea {
  color: var(--greyishMagenta);
}

.dark form input[type="text"], .dark form input[type="number"], .dark form input[type="datetime-local"], .dark form input[type="email"], .dark form input[type="password"], .dark form select, .dark form textarea, .dark .dygraph-roller, .dark .idents, .dark input[type="color"] {
  background-color: #222;
  /*dark grey*/
  box-shadow: inset 0px 0px 1px 0px #000000;
}

.dark form input[type="text"]:focus, .dark form input[type="number"]:focus, .dark form input[type="datetime-local"]:focus, .dark form input[type="email"]:focus, .dark input[type="color"]:focus, .dark form input[type="password"]:focus, .dark form select:focus, .dark form textarea:focus, .dark .dygraph-roller:focus {
  background: var(--darkBlue);
}

.dark tr, .dark .dygraph-legend {
  background-color: #161b22;
}

/********************************************************************************
/* Basic                                                                         
/*********************************************************************************/

html {
  scroll-behavior: smooth;
}

body, input, textarea, select, .label {
  font-family: arial, sans-serif;
  font-weight: 400;
  color: #666666;
  /*old color was #919499;*/
}

button, button.label, button.button.label {
  color: #FFFFFF;
}

/* Button */

input[type="button"], input[type="submit"], input[type="reset"], .button {
  padding: 0 2.25em 0 2.25em;
  font-size: 0.9em;
  min-width: 12em;
  height: 4em;
  line-height: 4em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-size: 100%;
  color: #484d55;
  padding: 0 0 0 1em !important;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: inherit;
  text-decoration: none;
}

a {
  text-decoration: underline;
  color: #717479;
  -moz-transition: color .25s ease-in-out;
  -webkit-transition: color .25s ease-in-out;
  -o-transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}

a:is(:hover, :focus) {
  text-decoration: none;
}

strong, b {
  font-weight: 700;
  color: #484d55;
}

hr {
  border: 0;
  border-top: solid 1px #ddd;
}

p, ol, dl, table, blockquote, form
/*removed margin from navbar ul*/

  {
  margin-bottom: 2em;
}

/* Table */

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 10pt;
  width: 100px !important;
  margin: 0 auto;
  table-layout: auto;
  border-collapse: collapse;
}

tr {
  width: 80%;
}

th {
  border: 1px solid black;
  text-align: left;
  padding: 0 8px;
  background-color: #444;
  color: white;
  font-weight: bold;
  white-space: nowrap;
}

td {
  border: 1px solid black;
  text-align: left;
  padding: 0 8px;
  color: black;
  white-space: nowrap;
}

/* Form */

form {
  margin: 0em;
}

.label {
  -webkit-appearance: none;
  display: block;
  border: solid;
  border-width: 1px;
  box-shadow: inset 0px 0px 1px 0px #a0a1a7;
  border-radius: 0.35em;
  width: 100%;
  padding: 0.75em 1em 0.75em 1em;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

/* Gray */

form label {
  display: block;
}

form input[type="text"], form input[type="number"], form input[type="datetime-local"], form input[type="email"], form input[type="password"], form select, form textarea {
  -webkit-appearance: none;
  display: block;
  border: 0;
  background: #eee;
  box-shadow: inset 0px 0px 1px 0px #a0a1a7;
  border-radius: 0.35em;
  width: 100%;
  padding: 0.75em 1em 0.75em 1em;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

form input[type="text"], form input[type="number"], form input[type="datetime-local"], form input[type="email"], form input[type="password"], form select {
  line-height: 1em;
}

form textarea {
  max-height: 10em;
}

form input[type="text"]:focus, form input[type="number"]:focus, form input[type="datetime-local"]:focus, form input[type="email"]:focus, form input[type="password"]:focus, form select:focus, form textarea:focus {
  background: #f8f8f8;
}

::placeholder {
  font-style: italic;
  line-height: 1.35em;
  opacity: 0.8;
}

/* Section/Article */

section, article {
  margin-bottom: 1em;
}

input[type="button"], input[type="submit"], input[type="reset"], .button {
  display: inline-block;
  background: #444;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.25em;
  text-decoration: none;
  border-radius: 0.35em;
  border: 0;
  outline: 0;
  cursor: pointer;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

input[type="button"]:is(:hover, :focus), input[type="submit"]:is(:hover, :focus), input[type="reset"]:is(:hover, :focus), .button:is(:hover, :focus) {
  box-shadow: 0 0 8pt 2pt #800080;
}

input[type="button"]:active, input[type="submit"]:active, input[type="reset"]:active, .button:active {
  background-color: #1f232b;
}

#header {
  position: relative;
}

/********************************************************************************
/* Content                                                                       
/*********************************************************************************/

#content {
  padding: 0 0 2em 1em;
}

.help p, .help hr, .help .row {
  max-width: 70ch;
}

/* Grid */

.row {
  margin: -20px 0 -1px -20px;
}

.row>* {
  float: left;
  padding: 20px 0 0 20px;
}

.row:after, .row:before {
  content: '';
  display: block;
  clear: both;
  height: 0;
}

.texty {
  width: 90vw;
  height: 50vw;
  max-width: 850px;
  max-height: 470px;
  word-wrap: break-word;
  word-break: break-all;
  height: 80px;
}

@media screen and (max-width: 700px) {
  /*********************************************************************************/
  /* Header                                                                        */
  /*********************************************************************************/
  #header {
    padding: 4em 0 0 0;
  }
}

/*********************************************************************************/

/* Copyright                                                                     */

/*********************************************************************************/

#copyright {
  text-align: center;
}

#copyright ul {
  display: inline-block;
  border-radius: 0.35em;
  box-shadow: inset 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  color: #000;
  color: rgba(0, 0, 0, 0.95);
}

/********************************************************************************
/*    Dark Mode Toggle                                                        
/*********************************************************************************/

/* The switch - the box around the slider */

.switch {
  position: absolute;
  /*relative;*/
  right: 69px;
  top: 12px;
  display: inline-block;
  width: 52px;
  height: 20px;
}

.switch:focus-within {
  box-shadow: 0 0 20pt 0pt;
  border-radius: 34px;
}

.toggLabel {
  position: absolute;
  right: 60px;
  top: 30px;
  display: inline-block;
}

#titleBar {
  /*fixes issue with title bar blocking the slider*/
  width: 30% !important;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  /*left: 4px;*/
  bottom: -3px;
  background-color: #f1f1f1;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background-color: #800080;
}

input:focus+.slider {
  box-shadow: 0 0 1px #800080;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: #ca5eca;
}

/* Rounded sliders */

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/********************************************************************************
/* Desktop style                                                                 
/*********************************************************************************/

@media screen and (min-width: 850px) {
  body, input, select, textarea {
    font-size: 11pt;
    line-height: 1.75em;
    letter-spacing: 0.025em;
  }
  .label {
    height: 38px;
  }
  /* Section/Article */
  section, article {
    margin: 0 0 1em 0;
    padding: 0 0 0 4em !important;
  }
  /* Form */
  form {
    padding: 1em 0 1em 1em !important;
  }
  form label {
    margin: 0.25em 0 0.5em 0;
  }
  /*********************************************************************************/
  /* Logo                                                                          */
  /*********************************************************************************/
  #logo {
    top: 50%;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 1em;
  }
  #logo h1 {
    font-size: 2em;
    letter-spacing: 0.25em;
  }
  /*********************************************************************************/
  /* Main                                                                          */
  /*********************************************************************************/
  #main {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  /* Container */
  .container {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1200px;
  }
  /*********************************************************************************/
  /* Copyright                                                                     */
  /*********************************************************************************/
  #copyright {
    margin: 6em 0 0 0;
  }
  #copyright ul {
    padding: 0.75em 2em;
    font-size: 0.9em;
  }
  #copyright ul li {
    display: inline-block;
    margin-left: 1em;
    padding-left: 1em;
    border-left: solid 1px #333;
    border-left-color: rgba(255, 255, 255, 0.05);
  }
  #copyright ul li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
  }
}

/********************************************************************************
/* Mobile  style                                                                 
/*********************************************************************************/

@media screen and (max-width: 850px) {
  /*********************************************************************************/
  /* Basic                                                                         */
  /*********************************************************************************/
  body, input, select, textarea {
    line-height: 1.5em;
    font-size: 9pt;
    letter-spacing: 0;
  }
  hr {
    margin: 1em 0 1em 0;
  }
  /* Section/Article */
  section, article {
    padding: 1em 1em 0 !important;
  }
  /* Box */
  .box {
    width: 30% !important;
  }
  /*********************************************************************************/
  /* Logo                                                                          */
  /*********************************************************************************/
  #logo {
    text-align: center;
  }
  #logo h1 {
    font-size: 1.5em;
    letter-spacing: 0.2em;
  }
  #main {
    padding: 1em 0 0 0;
  }
  /*********************************************************************************/
  /* Copyright                                                                     */
  /*********************************************************************************/
  #copyright {
    padding: 2em 0 0 0;
  }
  #copyright ul {
    padding: 1em 2em;
    width: 100%;
  }
  #copyright ul li {
    display: block;
    margin: 0.5em 0 0 0;
  }
  #copyright ul li:first-child {
    margin-top: 0;
  }
}

/* Resets (http://meyerweb.com/eric/tools/css/reset/ | v2.0 | 20110126 | License: none (public domain)) */

/* Box Model */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, div, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  font-family: arial, sans-serif;
  vertical-align: baseline;
}